---
name: Functional Tests

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/functional-tests.yml
      - src/**
      - action.yml
  schedule:
    # Every Friday at 09:00 JST
    - cron: "0 0 * * 5"
  workflow_dispatch: {}

defaults:
  run:
    shell: sh

jobs:
  setup-cloe:
    name: Setup cloe (${{ matrix.name }})
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux x86_64
            runner: ubuntu-24.04
          - name: Linux ARM
            runner: ubuntu-24.04-arm
          - name: Windows x86_64
            runner: windows-2025
          - name: Windows ARM
            runner: windows-11-arm
          - name: macOS x86_64
            runner: macos-15-intel
          - name: macOS ARM
            runner: macos-15
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Setup cloe
        id: setup-cloe
        uses: ./
      - name: Test action completion
        run: |
          test_equal() {
            if [ "${2}" != "${3}" ]; then
              echo "::error title=${1}::Expected: ${3}. Actual: ${2}."
              exit 1
            fi
          }
          test_equal "cloe should be installed" \
            "${{ steps.setup-cloe.outputs.installed }}" \
            "true"
      - name: Validate command
        run: |
          [ "$(cloe hello-world.cloe 2>&1)" = "Hello, world!" ] || exit 1
  test-force:
    name: Test force
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        force: ["true", "false"]
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Setup cloe 1
        id: setup-cloe-1
        uses: ./
      - name: Setup cloe 2
        id: setup-cloe-2
        uses: ./
        with:
          force: ${{ matrix.force }}
      - name: Test action completion
        run: |
          test_equal() {
            if [ "${2}" != "${3}" ]; then
              echo "::error title=${1}::Expected: ${3}. Actual: ${2}."
              exit 1
            fi
          }
          test_equal "Wrong \"installed\" output from setup-cloe-1" \
            "${{ steps.setup-cloe-1.outputs.installed }}" \
            "true"
          test_equal "Wrong \"installed\" output from setup-cloe-2" \
            "${{ steps.setup-cloe-2.outputs.installed }}" \
            "${{ matrix.force }}"
